Package: gdis-prolog
Version: 0.0.7
Architecture: amd64
Maintainer: sakurai <sakurai777@gmail.com>
Installed-Size: 11
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
